.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contacts_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contacts_container_item {
  display: flex;
  align-items: flex-start; // Вирівнювання елементів по верхньому краю
  flex-direction: row; // Залишити елементи в рядок
  padding: 15px;
  gap: 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: $shadow_xs;
  border-radius: 20px;
  width: 100%;
}

.contacts_container_item_info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: 100%;
}

.contacts_container_item_info_header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.contacts_container_item_info_header_title {
  font-weight: 500;
  font-size: 24px;
}

.contacts_container_item_info_header_items {
  display: flex;
  flex-direction: column;
}

.contacts_container_item_info_details {
  font-size: 18px;
  line-height: 1.5;
  text-align: left; // Вирівнювання тексту ліворуч
}

.contacts_container_item_info_socials {
  display: flex;
  column-gap: 10px;
}

.contacts_container_item_info_socials_item {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  box-shadow: $shadow_s;
}

// Медіа-запит для мобільних пристроїв
@media (max-width: 768px) {
  .contacts_container {
    flex-direction: column;
    gap: 10px;
  }

  .contacts_container_item {
    padding: 10px;
    border-radius: 15px;
  }

  .contacts_container_item_info_header_title {
    font-size: 20px;
  }

  .contacts_container_item_info_details {
    font-size: 16px;
  }
}
